* {
    top: 0;
    margin: 0;
    list-style-type: none;
    font-family: Arial,
        Helvetica,
        sans-serif;
    color: #FFFF;

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-image: linear-gradient(to right, #2A3848, #345b88);


}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.header-d {
    display: flex;
    padding: 20px;
}

.header-w {
    display: flex;
    align-items: center;
    width: 50%;
}

.main-card {
    display: flex;
    margin-top: 50px;
}

.btn {
    background-color: #2A3848;
    border: 2px solid #439D95;
    color: #fff;
    border-radius: 3px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    margin-top: 15px;
}

.section-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #FFFF;
}

main,
section {
    padding: 32px;
}

img {
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 6px;
}

hr {
    background-color: #3ebcca;
    width: 5%;
    height: 3px;
    margin-bottom: 30px;
    border: none;
}

.color-01 {
    color: #3ebcca;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.contact-icons {
    display: flex;
    align-items: center;

}

.contact-div {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.skills-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}

.section-skills {
    margin-top: 70px;
}

.mb-10 {
    margin-bottom: 10px;
}

.pl-110 {
    padding-left: 110px;
}

.wd-60 {
    width: 60%;
}

.wd-40 {
    width: 40%;
}

.circle-img {
    border: 4px solid #3ebcca;
    border-radius: 50%;
    width: 360px;
    height: 360px;
    align-items: center;
}

.img-code {
    margin-bottom: 8px;
    margin-right: 15px;
}

.section-contact {
    margin-bottom: 70px;
    margin-top: 70px;
}